{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DermaScan - Login</title>
  <link rel="stylesheet" href="../../static/core/styles.css">
</head>
<body>
  <header>
    <div class="logo">DermaScan</div>
  </header>
  <div class="container">
    <h1>Welcome to DermaScan!</h1>
    <img src="assets/login.png">
    <h2>Log In</h2>
    <form id="loginForm" method="post">
      {% csrf_token %}
      <input type="text" placeholder="Username" name="username" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Log In</button>
    </form>
    <p>Don’t have an account yet? <a href="{% url 'signup' %}">Sign Up Here</a></p>
  </div>
</body>
</html>
